version: "3.9"

services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app                  
      - /app/node_modules       
    environment:
      - NODE_ENV=development
    restart: unless-stopped
